apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: pipeline-${CICD_EXECUTION_SEQUENCE}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pipeline-${CICD_EXECUTION_SEQUENCE}
  template:
    metadata:
      labels:
        app: pipeline-${CICD_EXECUTION_SEQUENCE}
      name: pipeline-${CICD_EXECUTION_SEQUENCE}
    spec:
      imagePullSecrets:
      - name: p-gpv22:pipeline-docker-registry
      containers:
      - image: ${CICD_IMAGE}:${CICD_EXECUTION_SEQUENCE}
        name: pipeline
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
