apiVersion: apps/v1
kind: Deployment
metadata:
  name: flonka-app
  labels:
    app: flonka-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flonka-app
  template:
    metadata:
      labels:
        app: flonka-app
    spec:
      imagePullSecrets:
      - name: pipeline-docker-registry
      containers:
      - name: flonka-app
        image: ${CICD_IMAGE}:${CICD_EXECUTION_SEQUENCE}
        ports:
        - containerPort: 80
